:root {
  --cream: #faf9f6;
}

html {
  background-color: var(--cream);
  font-family: "Playfair Display Variable", "Times New Roman", Times, serif;
}

.header {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  padding: 0;

  @media (min-width: 931px) {
    padding-top: 3rem;
  }

  .title {
    font-family: "Noto Serif Display Variable", "Cinzel Variable", serif;
    font-weight: 800;
    font-size: 52px;
    margin: 0;
    z-index: 2;
    width: 100%;
    position: absolute;
    letter-spacing: 0.05em;
    padding-top: 2rem;
    line-height: 3rem;
    color: white;
    transform: scale(1, 1.5);
    text-align: end;

    @media (min-width: 612px) {
      text-align: center;
      line-height: normal;
      letter-spacing: normal;
      font-size: 58px;
    }

    @media (min-width: 768px) {
      padding-top: 2rem;
      font-size: 72px;
    }

    @media (min-width: 875px) {
      font-size: 84px;
    }
  }

  .header-image-container {
    position: relative;

    .people {
      z-index: 3;
      position: absolute;
      left: 50%;
      bottom: 0px;
      transform: translate(-55%);
    }
  }
}

h2 {
  letter-spacing: 0.05em;
  font-weight: 600;
  font-size: 72px;
  margin: 0;
}

.story-title {
  transform: scale(1, 1.1);
}

.story {
  font-weight: 500;
  line-height: 1.6;
  font-size: 22px;
  text-wrap: balance;
}

body {
  margin: 0;
  padding: 0;
}

header,
h1,
h2 {
  padding: 10px 0;
  text-align: center;
}

img {
  display: block;
  aspect-ratio: 3/ 2;
  margin-left: auto;
  margin-right: auto;
}

p {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.pic-button,
.form-button {
  margin-top: 3rem;
  background-color: #e0bfb8;
}

section {
  padding: 20px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.qa-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  padding: 0px 50px 0px 50px;
}

.container-qs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px 2em;
  margin-bottom: 1rem;
  margin: 0 auto;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.bttn-container {
  text-align: center;
}

.question {
  @media (min-width: 768px) {
    width: 50%;
  }
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 36px;
}

.answer {
  @media (min-width: 768px) {
    width: 50%;
  }
  font-weight: 500;
  line-height: 1.6;
  font-size: 22px;
  text-wrap: balance;
}
.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(to left, #3d2b1f, #6f4e37, #6b4423, #635147);
}
.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: white;
  background: #9f8170;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.pushable:hover {
  filter: brightness(110%);
}
.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}
